<div class="container-fluid">
    <h2>TESTIMONIALS</h2>
    <div class="carousell">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/testimony.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-flex flex-column justify-content-center h-100">
              <h5>Had ordered one of Miss. Sparks wall poster decor. Simply breathtaking. Best thing is there is international shipping too. Everything is very much affordable too.</h5>
              <br>
              <p>Catherine Johns, a nature lover</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/testimony.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-flex flex-column justify-content-center h-100">
              <h5>For a beginner like me, the turorials were very helpful.<br>Everything was well-explained with lots of practical classes. <br>A must try for all those who wish to capture the beauty of nature in its true essence. </h5>
              <br>
              <p>-Alexander George, Geologist</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/testimony.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-flex flex-column justify-content-center h-100">
              
                <h5>It was on my first international journey to Tokyo that I met Julia. I was awed to see how passionate she was to capture the beauty of nature. It is from being friends with her that I learned to truly feel nature. I have her latest landscape print. The best thing is there is a 15-day return back policy in case you don't like it much.</h5>
              <br>
                <p>Lily Sophia, Journalist</p>

            </div>
          </div>
          
            <div class="carousel-item ">
              <img src="assets/images/testimony.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-flex flex-column justify-content-center h-100">
                <h5>The thing about Julia's black and white nature photography is that, it doesn't look too olden nor look too modern. It's a balance between both. When you see it, you will know.</h5>
                <br>
                <p>James Martin, Scientist</p>
              </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
    </div>
    <br><br><br><br>
</div>
