
.container-fluid {
    background-image: url("src/assets/images/shadow.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
    
    
    color: white;
  }
   
h1{
    padding-top: 50px;
}

  
  .card{
      margin-top: 30px;
      height: 250px;
  }

  .card-text{
      color: black;
  } 

  img{
      height:200px;
  }





