<div class="container-fluid">
  

  
    
      
        <h1>SERVICES</h1>
        <br>
        
        <div class="container">
         <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 pt-3" >
           <div class="card" id="card1" style="width: 18rem;">
            <img src="assets/images/simple.jpg" class="card-img-top" alt="...">
             <div class="card-body">
              <p class="card-text">Black and White Photography</p>
             </div>
           </div>
          </div>
        

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 pt-3" >                
            <div class="card" id="card1" style="width: 18rem;">
              <img src="assets/images/edit.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Editing Tutorials</p>
                </div>
            </div>
          </div>
        

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 pt-3" >                
           <div class="card" id="card1" style="width: 18rem;">
             <img src="assets/images/landscape.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                      <p class="card-text">Landscape Prints</p>
                </div>
           </div>
          </div>

                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 pt-3" >                
                    <div class="card" id="card1" style="width: 18rem;">
                        <img src="assets/images/eiffel.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">International Packages</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 pt-3" >                
                        <div class="card" id="card1" style="width: 18rem;">
                            <img src="assets/images/wall.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <p class="card-text">Wall Poster Designing</p>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 pt-3" >                
                            <div class="card" id="card1" style="width: 18rem;">
                                <img src="assets/images/nature.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-text">Nature Video Making</p>
                                </div>
                              </div>
                            </div>

         </div>
     </div>
    <br><br><br>
       



    
</div>  


